div {
    display: flex;
}

a {
    background-color: #6585ab;
    padding: 1em 2em;
    margin: 1em;
    color: white;
    border-radius: 0.7em;
    text-decoration: none;
}

a:hover {
    background-color: #9985ab;
}